<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/main.css" />  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Here in my Garage</title>
</head>
<div>
<div class="hello">
  <h2><%=@user.username.capitalize%>, Welcome to your Garage</h2>
  <h3>What would you like to do?</h3>
</div>

<div class="main">
  <a id="create"href="/<%=session[:user_id]%>/create_car">Add a car</a>
  <a id="edit" href="/<%=session[:user_id]%>/edit">Edit a car</a>
  <a id="delete" href="/<%=session[:user_id]%>/delete">Delete a car</a>
</div>
<% if @user.cars.size==0 %>
    <h2>You currently have no cars. Why not <a href="/<%=current_user.id%>/create_car">Add a car</a> <br></h2>
<% else %>
<div class="viewall">
  <% @user.cars.each do |car| %>
    <ul id="viewall"><%=car.make.capitalize%> <%=car.model.capitalize%>, <%=car.year%></ul>
  <% end %>
</div>
<% end %>

