<div class = "container">
  <div class="center-align">
    <h3>Please select from the list</h3>
  </div>
  <% if session[:error_message] %>
    <div class="center-align">
      <p class="red-text"><%=session[:error_message]%></p>
    </div>
  <%session.delete(:error_message)%>  
  <% end %>
  <% if current_user.cars.size==0 %>
    <div class="container center">
      <h4 class="flow-text">You currently have no cars. Why not <a href="/cars/new">Add a car</a> <br></h4>
    
    </div>

  
  <% else %>
  <div class="row">
    <form class="col s6 left-align offset-s3 center-align"action="/delete" method="POST">
    <input type="hidden" name="_method" value="delete" >
      <% current_user.cars.each do |car| %>
        <div class="container">
          <div class="card red lighten-1 hoverable z-depth-1">
            <p>
                <label name="cars[]" value="<%=car.id%>" >
                  <input type="checkbox" name="cars[]" value="<%=car.id%>" />
                  <span class="black-text"><%=car.make%> <%=car.model%>, <%=car.year%></span>
                </label>
            </p>
          </div>
        </div>
    <% end %>
    <div class="container">
      <button class="btn btn-large red waves-effect wave-light">Delete</button>
    </div>
    </form>
  </div>
  <% end %> 
</div>