<div class = delete>
<% if session[:error_message] %>
  <h2 id="errors"><%=session[:error_message]%></h2>
  <%session.delete(:error_message)%>  
<% end %>
<% if current_user.cars.size==0 %>
    <h2>You currently have no cars. Why not <a href="/<%=current_user.id%>/create_car">Add a car</a> <br></h2>

  
<% else %>
<h3>Please select from the list</h3>
<form id="editform"action="/<%=current_user.id%>/delete" method="POST">
  <input type="hidden" name="_method" value="delete">
    <% current_user.cars.each do |car| %>
    <%=car.make%> <%=car.model%>, <%=car.year%>: <input type="checkbox" name="cars[]" value="<%=car.id%>"> <br>
  <% end %>
  <input type="submit" name="" id="">

</form>

<% end %>



</form>  
</div>