<div class="container">
  <div class="row">
    <h3 class = "col s6 offset-s3">Please choose car to edit</h3>
  </div>
  <% if current_user.cars.size==0 %>
    <p class = "center ">You currently have no cars. Why not <a href="/<%=current_user.id%>/create_car">Add a car</a> <br></p>

  
  <% else %>
  <div class="container">
    <% current_user.cars.each do |car| %>
    <div class="center">
      <div class="card grey hoverable z-depth-1">
        <div class="card-content">
          <h4 class="white-text"><%=car.make.capitalize%> <%=car.model.capitalize%>, <%=car.year%></h4>
        </div>
        <div class="card-action">
          <a href="/<%=current_user.id%>/<%=car.id%>/modify">Edit</a><br>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>
</div>