<div class="container">
  <div class="row">
    <h3 class = "col s6 offset-s3">Please choose car to edit</h3>
  </div>
  <% if current_user.cars.size==0 %>
    <p class = "center ">You currently have no cars. Why not <a href="/<%=current_user.id%>/create_car">Add a car</a> <br></p>

  
  <% else %>
  <div class="container ">
    <% current_user.cars.each do |car| %>
    <div class="center ">
      <div class="card grey hoverable z-depth-1">
        <div class="card-content">
          <h5 class="white-text "><%=car.make.capitalize%> <%=car.model.capitalize%>, <%=car.year%></h5>
        </div>
        <div class="card-action">
          <a href="/cars/<%=car.id%>/edit"><i class="far fa-edit fa-3x"></i></a>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>
</div>